assertpy==1.1
coverage==5.4
coverage==5.4
pip==21.0.1
pytest==6.2.2
pytest-cov==2.11.1
pytest-httpserver==0.3.7
Sphinx==3.4.3
sphinx_rtd_theme==0.5.1
tox==3.21.4
twine==3.3.0
watchdog==1.0.2
wheel==0.36.2
