assertpy==1.1
coverage==5.4
coverage==5.4
pip==21.0.1
pydantic==1.7.3
pytest==6.2.2
pytest-cov==2.11.1
pytest-httpserver==0.3.7
Sphinx==3.5.1
sphinx_rtd_theme==0.5.1
tox==3.22.0
twine==3.3.0
watchdog==2.0.1
wheel==0.36.2
